@import "tailwindcss";

body {
  background: linear-gradient(-45deg, #391cc9, #d75f6f, #a35ccf, #4addd8);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
